body#body-container{
    display: grid;
    grid-template-columns: 23% 77%;
    min-height: 100vh;
}
header#header{
    grid-column: 1/3;
}
nav#navigation-bar{
    grid-column: 1/3;
}
main#container{

}
aside#sidebar{

}
footer#footer{
    grid-column: 1/3;
}