a{
    text-decoration: none;
}
#header{
    background-color: white;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 92% 8%;
    padding: 8px 24px;
}
#header .site-brand{
    
}
#header .site-brand .image-brand{
    width: 50px;
    vertical-align: middle;
}
#header .site-brand .link-brand{
    vertical-align: middle;
    font-size: 2em;
    color: black;
    font-weight: bolder;
    margin: 8px;
}
#header .header-action{
    
}
#header .header-action i{
    vertical-align: middle;
    font-size: 2em;
    padding: 4px;
}
#header .header-action i:first-child{
    border-left: 1px solid gray;
}