:lang(fa){
    direction: rtl;
}
form{
    background-color: lightgray;
    padding: 11px;
}
input{
    outline: none;
    width: 50%;
}
select{
    outline: none;
    width: 50%;
}
textarea{
    outline: none;
    width: 50%;
}
input[type="submit"]{
    background-color: aqua;
    border: none;
    padding: 10px 20px;
}